extends layout

block content

  .panel.panel-default
    .panel-heading User Info
    .panel-body

      p= 'Username: '
        span= user.username
      p= 'ID: '
       span= user.id
      p= 'Last Login: '
        span= user.lastLogin
      hr

      h3 Status
      p= 'Current Status: '
        span= user.status
      - var toggleAdminText = user.isAdmin ? 'Revoke Admin' : 'Make Admin'
      form(action="/admin/account/#{user.id}/toggle_admin", method='post')
        input.btn(type='submit', value=toggleAdminText)
      hr
      h3 Actions
      .btn-group
        form(action="/admin/account/#{user.id}/delete_account", method='post')
          .btn-group
            a.btn.btn-default(href="/admin/account/#{user.id}/edit_password") Edit Password
            input.btn.btn-danger(type='submit', value='Delete Account')
